@import "vars";

.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-active {
  background-color: var(--very-dark-blue);
  opacity: 1;
}

.logo {
  z-index: 2;
}

@media screen and (max-width: 720px) {
  .mobile-menu-container {
    display: flex;
  }
  .desktop-navbar {
    display: none;
  }
}

@media screen and (min-width: 721px) {
  .mobile-menu-container {
    display: none;
  }

  .desktop-navbar {
    display: flex;
  }
}
