@import "vars";

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero-image-container {
  width: 100%;
  height: auto;
  position: relative;
}

.hero-image {
  width: 100%;
  height: 100%;
}

.hero-image-container::after {
  content: "";
  position: absolute;
  top: 20%;
  right: 0;
  height: 200px;
  width: 300px;
  background-color: var(--soft-blue);
  border-bottom-left-radius: 20%;
  z-index: -1;
}

@media screen and (min-width: 1024px) {
  .main-container {
    flex-direction: row-reverse;
    padding: 30px;
  }

  .hero-image-container::after {
    top: 35%;
    right: -30px;
    height: 300px;
    width: 500px;
  }
}
